.section {
  margin-bottom: 40px;

  &__header {
    background: #8BCB94;
    padding: 10px 38px;
    color: #fff;
  }

  &__title {
    font-weight: 500;
    margin: 0;
    font-size: 24px;
    line-height: 1.2;
  }

  &__cont {
    padding: 10px 0;
  }
}

@media(min-width: 640px) {
  .section {
    &__header {
      padding: 20px 0;

      &-inner {
        margin: auto;
        max-width: 696px;
        padding: 0 38px;
      }
    }

    &__cont {
      padding: 20px 0;
    }

    &__title {
      font-size: 40px;
    }
  }
}

@media(min-width: 1024px) {
  .section {
    &__header {
      &-inner {
        max-width: 1524px;
        padding: 0 42px;
      }
    }
  }
}