extends layout/_layout

block content
  section.section
    .section__header 
      .section__header-inner
        h2.section__title Наши клиенты
    .section__cont 
      .main-container
        .info-p
          .info-p__list-w.info-p__list-w--left
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Кафе и рестораны
              li.info-list__item
                a.info-list__link(href="") Фестивали
              li.info-list__item
                a.info-list__link(href="") Базы отдыха
              li.info-list__item
                a.info-list__link(href="") Спортивные арены

          .info-p__cont
            .info-p__img-w
              img(src="img/info-p-1.webp", alt="").info-p__img

            .info-p__list-cont
              .info-p__list-w.info-p__list-w--left
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Кафе и рестораны
                  li.info-list__item
                    a.info-list__link(href="") Фестивали
                  li.info-list__item
                    a.info-list__link(href="") Базы отдыха
                  li.info-list__item
                    a.info-list__link(href="") Спортивные арены

              .info-p__list-w.info-p__list-w--right
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Детские сады и школы
                  li.info-list__item
                    a.info-list__link(href="") Городские мероприятия
                  li.info-list__item
                    a.info-list__link(href="") Отели и магазины
                  li.info-list__item
                    a.info-list__link(href="") Медицинские учереждения

          .info-p__list-w.info-p__list-w--right
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Детские сады и школы
              li.info-list__item
                a.info-list__link(href="") Городские мероприятия
              li.info-list__item
                a.info-list__link(href="") Отели и магазины
              li.info-list__item
                a.info-list__link(href="") Медицинские учереждения



                            