extends layout/_layout

block content

  section.section
    .section__header 
      .section__header-inner
        h2.section__title Наши клиенты
    .section__cont 
      .main-container
        .info-p
          .info-p__list-w.info-p__list-w--left
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Кафе и рестораны
              li.info-list__item
                a.info-list__link(href="") Фестивали
              li.info-list__item
                a.info-list__link(href="") Базы отдыха
              li.info-list__item
                a.info-list__link(href="") Спортивные арены

          .info-p__cont
            .info-p__img-w
              img(src="img/info-p-1.webp", alt="").info-p__img

            .info-p__list-cont
              .info-p__list-w.info-p__list-w--left
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Кафе и рестораны
                  li.info-list__item
                    a.info-list__link(href="") Фестивали
                  li.info-list__item
                    a.info-list__link(href="") Базы отдыха
                  li.info-list__item
                    a.info-list__link(href="") Спортивные арены

              .info-p__list-w.info-p__list-w--right
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Детские сады и школы
                  li.info-list__item
                    a.info-list__link(href="") Городские мероприятия
                  li.info-list__item
                    a.info-list__link(href="") Отели и магазины
                  li.info-list__item
                    a.info-list__link(href="") Медицинские учереждения

          .info-p__list-w.info-p__list-w--right
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Детские сады и школы
              li.info-list__item
                a.info-list__link(href="") Городские мероприятия
              li.info-list__item
                a.info-list__link(href="") Отели и магазины
              li.info-list__item
                a.info-list__link(href="") Медицинские учереждения

  section.section
    .section__header 
      .section__header-inner
        h2.section__title Весь парк - только для Вас
    .section__cont 
      .main-container
        .info-p
          .info-p__list-w.info-p__list-w--left
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Корпоративы
              li.info-list__item
                a.info-list__link(href="") Семейный день
              li.info-list__item
                a.info-list__link(href="") Аренда парка

          .info-p__cont.info-p__cont--line
            .info-p__img-w
              img(src="img/info-p-2.webp", alt="").info-p__img

            .info-p__list-cont
              .info-p__list-w.info-p__list-w--left
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Корпоративы
                  li.info-list__item
                    a.info-list__link(href="") Семейный день
                  li.info-list__item
                    a.info-list__link(href="") Аренда парка

              .info-p__list-w.info-p__list-w--right
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") День рождения компании
                  li.info-list__item
                    a.info-list__link(href="") Новогодняя ёлка
                  li.info-list__item
                    a.info-list__link(href="") Выпускной

            .info-p__btn-submit
              a(href="").btn.btn--primary Скачать презентацию
          .info-p__list-w.info-p__list-w--right
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") День рождения компании
              li.info-list__item
                a.info-list__link(href="") Новогодняя ёлка
              li.info-list__item
                a.info-list__link(href="") Выпускной
                            
  section.section
    .section__header 
      .section__header-inner
        h2.section__title Лагерь - Замания Кемп
    .section__cont 
      .main-container
        .info-p
          .info-p__list-w.info-p__list-w--left
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Путёвки в лагерь

          .info-p__cont.info-p__cont--line
            .info-p__img-w
              img(src="img/info-p-3.webp", alt="").info-p__img

            .info-p__list-cont
              .info-p__list-w.info-p__list-w--left
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Путёвки в лагерь

              .info-p__list-w.info-p__list-w--right
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Личная площадка под запрос

            .info-p__btn-submit
              a(href="").btn.btn--primary Скачать презентацию
          .info-p__list-w.info-p__list-w--right
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Личная площадка под запрос
                                            
  section.section
    .section__header 
      .section__header-inner
        h2.section__title Подарки для сотрудников и их детей
    .section__cont 
      .main-container
        .info-p
          .info-p__list-w.info-p__list-w--left
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Сертификаты на услуги
              li.info-list__item
                a.info-list__link(href="") Сладкие подарки

          .info-p__cont.info-p__cont--line
            .info-p__img-w
              img(src="img/info-p-4.webp", alt="").info-p__img

            .info-p__list-cont
              .info-p__list-w.info-p__list-w--left
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Сертификаты на услуги
                  li.info-list__item
                    a.info-list__link(href="") Сладкие подарки

              .info-p__list-w.info-p__list-w--right
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Билеты в парк
                  li.info-list__item
                    a.info-list__link(href="") Путёвки в лагерь
            
            .info-p__cont-settings
              form(action="") 
                .form-box
                  h3.form-box__title Стоимость заказа
                  .price.col-full 
                    span 75 000 ₽ #[span.price__old 84 500 ₽]

                .form-box
                  h3.form-box__title Выберите город
                  .radio-group
                    .radio-group__item.col-1-2
                      label.radio-group__btn
                        input(type="radio" name="sity" checked).radio-group__input
                        .radio-group__cont Москва
                                        
                    .radio-group__item.col-1-2
                      label.radio-group__btn
                        input(type="radio" name="sity").radio-group__input
                        .radio-group__cont Воронеж
                                        
                    .radio-group__item.col-1-2
                      label.radio-group__btn
                        input(type="radio" name="sity").radio-group__input
                        .radio-group__cont Курган
                                        
                    .radio-group__item.col-1-2
                      label.radio-group__btn
                        input(type="radio" name="sity").radio-group__input
                        .radio-group__cont Ярославль

                .form-box.mb-0
                  h3.form-box__title Сколько детей пойдёт в парк?

                  .spinner
                    .spinner__cont
                      input(type="text" value="50").spinner__input
                    button.spinner__btn
                      svg.icon.icon--caret-down 
                        use(href="img/sprite.svg#caret-down")
                    button.spinner__btn
                      svg.icon.icon--caret-up
                        use(href="img/sprite.svg#caret-up")
                    .spinner__info Минимальный заказ от 50 детей
              
                .info-p__btn-submit
                  a(href="").btn.btn--primary Скачать презентацию
                  
          .info-p__list-w.info-p__list-w--right
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Билеты в парк
              li.info-list__item
                a.info-list__link(href="") Путёвки в лагерь
                
  section.section
    .section__header 
      .section__header-inner
        h2.section__title Собственное производство
        .section__text
          p Кондитерские изделия и полуфабрикаты
    .section__cont 
      .main-container
        .info-p
          .info-p__list-w.info-p__list-w--left
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Сладкие подарки
              li.info-list__item
                a.info-list__link(href="") Торты для реализации
              li.info-list__item
                a.info-list__link(href="") Десерты для кафе и ресторанов

          .info-p__cont.info-p__cont--line
            .info-p__img-w
              img(src="img/info-p-5.webp", alt="").info-p__img

            .info-p__list-cont
              .info-p__list-w.info-p__list-w--left
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Сладкие подарки
                  li.info-list__item
                    a.info-list__link(href="") Торты для реализации
                  li.info-list__item
                    a.info-list__link(href="") Десерты для кафе и ресторанов

              .info-p__list-w.info-p__list-w--right
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Изготовление продукции под вашим брендом
                  li.info-list__item
                    a.info-list__link(href="") Обеды для офисов
                  li.info-list__item
                    a.info-list__link(href="") Поставки полуфабрикатов
                  li.info-list__item
                    a.info-list__link(href="") Доставка

            .info-p__btn-submit
              a(href="").btn.btn--primary Скачать презентацию
          .info-p__list-w.info-p__list-w--right
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") День рождения компании
              li.info-list__item
                a.info-list__link(href="") Новогодняя ёлка
              li.info-list__item
                a.info-list__link(href="") Выпускной
                                
  section.section
    .section__header 
      .section__header-inner
        .section__info-quote-wrap
          h2.section__title Собственное производство
          .section__info-quote Наши услуги на ваших площадках

    .section__cont 
      .main-container
        .info-p
          .info-p__list-w.info-p__list-w--left
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Анимация выходного дня
              li.info-list__item
                a.info-list__link(href="") Аниматор на реализацию
              li.info-list__item
                a.info-list__link(href="") Ежемесячные мероприятия
              li.info-list__item
                a.info-list__link(href="") Мастер-классы
              li.info-list__item
                a.info-list__link(href="") Квесты
              li.info-list__item
                a.info-list__link(href="") Промоутер
              li.info-list__item
                a.info-list__link(href="") Фотограф

          .info-p__cont.info-p__cont--line
            .info-p__img-w
              img(src="img/info-p-6.webp", alt="").info-p__img

            .info-p__list-cont
              .info-p__list-w.info-p__list-w--left
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Анимация выходного дня
                  li.info-list__item
                    a.info-list__link(href="") Аниматор на реализацию
                  li.info-list__item
                    a.info-list__link(href="") Ежемесячные мероприятия
                  li.info-list__item
                    a.info-list__link(href="") Мастер-классы
                  li.info-list__item
                    a.info-list__link(href="") Квесты
                  li.info-list__item
                    a.info-list__link(href="") Промоутер
                  li.info-list__item
                    a.info-list__link(href="") Фотограф

              .info-p__list-w.info-p__list-w--right
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Кэнди-баp
                  li.info-list__item
                    a.info-list__link(href="") Шоколадный фонтан
                  li.info-list__item
                    a.info-list__link(href="") Торты
                  li.info-list__item
                    a.info-list__link(href="") Попкорн
                  li.info-list__item
                    a.info-list__link(href="") Сладкая вата
                  li.info-list__item
                    a.info-list__link(href="") Аквагрим и бьюти бар
                  li.info-list__item
                    a.info-list__link(href="") Пиньяты

            .info-p__btn-submit
              a(href="").btn.btn--primary Скачать презентацию
          .info-p__list-w.info-p__list-w--right
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Кэнди-баp
              li.info-list__item
                a.info-list__link(href="") Шоколадный фонтан
              li.info-list__item
                a.info-list__link(href="") Торты
              li.info-list__item
                a.info-list__link(href="") Попкорн
              li.info-list__item
                a.info-list__link(href="") Сладкая вата
              li.info-list__item
                a.info-list__link(href="") Аквагрим и бьюти бар
              li.info-list__item
                a.info-list__link(href="") Пиньяты
                
  section.section
    .section__header 
      .section__header-inner
        h2.section__title Реклама
    .section__cont 
      .main-container
        .info-p
          .info-p__list-w.info-p__list-w--left
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Видеореклама
              li.info-list__item
                a.info-list__link(href="") Носители внутри парков
    
          .info-p__cont.info-p__cont--line
            .info-p__img-w
              img(src="img/info-p-7.webp", alt="").info-p__img

            .info-p__list-cont
              .info-p__list-w.info-p__list-w--left
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Видеореклама
                  li.info-list__item
                    a.info-list__link(href="") Носители внутри парков

              .info-p__list-w.info-p__list-w--right
                ul.info-list
                  li.info-list__item
                    a.info-list__link(href="") Аудиореклама
                  li.info-list__item
                    a.info-list__link(href="") Пуш-рассылка по базе
          
            .info-p__btn-submit
              a(href="").btn.btn--primary Скачать презентацию
          .info-p__list-w.info-p__list-w--right
            ul.info-list
              li.info-list__item
                a.info-list__link(href="") Аудиореклама
              li.info-list__item
                a.info-list__link(href="") Пуш-рассылка по базе
    
    .feedback 
      .main-container
        h2.category-title Есть вопросы?

        p Мы с радостью ответим! Каждый день мы работаем над тем, чтобы наши клиенты были счастливы.

        form.feedback__form
          .form-row
            input(type="text" placeholder="Ваше имя").form-row__input

          .form-row
            input(type="tel" placeholder="Номер телефона").form-row__input.phone-mask
          
          .form-row
            label.checkbox
              .checkbox__cont
                input(type="checkbox").checkbox__input
                .checkbox__check
                  svg.icon.icon--check
                    use(href="img/sprite.svg#check")
              .checkbox__text Нажимая на кнопку, вы принимаете условия обработки данных

          a(href="").btn.btn--primary.col-full Отправить
    
    .gallery
      .gallery__header
        .main-container
          h2.category-title Фото парков
          .gallery__nav

        <div class="swiper photo-slider">
          <div class="swiper-wrapper">
            - for (var x = 1; x <= 20; x++)
              <div class="swiper-slide photo-slider__item">
                .photo-slider__img-w
                  a(href="img/gallery/gallery-open-"+ x +".jpg" target="_blank") 
                    img(src="img/gallery/gallery-"+ x +".jpg", alt="").photo-slider__img
              </div>
          </div>
        </div>

    .contacts
      .main-container
        .contacts__inner
          .contacts__info
            h3.contacts__info-position Личный менеджер
            h3.contacts__info-name Екатерина Ерохина
            p Менеджер по продажам B2B
          .contacts__cont
            h2.category-title Контакты

            ul.contacts-list
              li.contacts-list__item
                a(href="tel:+7 925 154 25 64").contacts-list__link 
                  span.contacts-list__link-text +7 925 154 25 64
                  span.contacts-list__link-icon
                    svg.icon.icon--call
                      use(href="img/sprite.svg#call")

              li.contacts-list__item
                a(href="mailto:eerohina@zamania.ru").contacts-list__link 
                  span.contacts-list__link-text eerohina@zamania.ru
                  span.contacts-list__link-icon
                    svg.icon.icon--mark_email_unread
                      use(href="img/sprite.svg#mark_email_unread")

              li.contacts-list__item
                a(href="" target="_blank").contacts-list__link 
                  span.contacts-list__link-text @za_b2b
                  span.contacts-list__link-icon
                    svg.icon.icon--telegram
                      use(href="img/sprite.svg#telegram")
                  
              li.contacts-list__item
                a(href="" target="_blank").contacts-list__link 
                  span.contacts-list__link-text WhatsApp
                  span.contacts-list__link-icon
                    svg.icon.icon--whats-app
                      use(href="img/sprite.svg#whats-app")
              
    .gallery
      .gallery__header
        .main-container
          h2.category-title Наши партнеры
          .gallery__nav

        <div class="swiper partners-slider">
          <div class="swiper-wrapper">
            - for (var x = 1; x <= 11; x++)
              <div class="swiper-slide partners-slider__item">
                a(href="img/partners/partners-"+ x +".png" target="_blank") 
                  .partners-slider__img-w
                    img(src="img/partners/partners-"+ x +".png", alt="").partners-slider__img
              </div>
          </div>
        </div>
          


      