

@font-face {
	font-family: 'Futura PT';
	src: url('#{$rootUrlFonts}FuturaPT/FuturaPT-Medium.eot');
	src: local('Futura PT Medium'), local('FuturaPT-Medium'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Medium.woff') format('woff'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('#{$rootUrlFonts}FuturaPT/FuturaPT-Book.eot');
	src: local('Futura PT Book'), local('FuturaPT-Book'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Book.woff') format('woff'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Futura PT';
	src: url('#{$rootUrlFonts}FuturaPT/FuturaPT-Light.eot');
	src: local('Futura PT Light'), local('FuturaPT-Light'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Light.woff') format('woff'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'Futura PT';
	src: url('#{$rootUrlFonts}FuturaPT/FuturaPT-Bold.eot');
	src: local('Futura PT Bold'), local('FuturaPT-Bold'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Bold.woff') format('woff'),
			url('#{$rootUrlFonts}FuturaPT/FuturaPT-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

